@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* navbar design */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    /* background-color: crimson; */
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 20;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: #ba7162;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #ba7162;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a:hover{
color: #fff;
}

.navbar .menu li a:hover{
    color: #ba7162;
}

/* menu btn design starts here */

.scroll-up-btn{
    position: fixed;
    height:45px;
    width: 42px;
    background: #ba7162;
    right:30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* Home page styling starts from here */

.home{
    display: flex;
    background: url(image/header.jpg) no-repeat center;
    background-color: #111;
    background-size: 1480px 610px;
    height: 100vh; /*means viewport heigh, 50vw means that the element will have a width that's 50% of the viewport size*/
    color: #fff;
    min-height: 500px; /*indication of min height of the this section*/
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;

}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}


.home .home-content .text-3 span{
    color: #ba7162;
    font-weight: 500px;

}

.home .home-content a {
    background-color: #ba7162;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 8px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ba7162;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #ba7162;
    background: none;
}

/*all similar content styling */

.about,.services,.skills,.teams, .contact, footer{
    font-family: "poppins", sans-serif;
}

.about, .about-content,
.services, .serv-content,
.skills,.skills-content,
.contact .contact-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

section{
    padding: 100px 0;
}

section .title{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

section .title::before{
    position:absolute;
    bottom: -7px;
    left: 50%;
    content: "";
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position:absolute;
    bottom: -12px;
    left: 50%;
    font-size: 17px;
    color: #ba7162;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}



/*about me section starts here */

.about .title::after{
    content: "Who I am";
}

.about .about-content .left img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}


.about .about-content .left{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #ba7162;
}

.about .about-content .right p{
    text-align: justify;
}


.about .about-content .right a{

    background-color: #ba7162;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ba7162;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #ba7162;
    background: none;
}






/*services section starts here */

.services .title::before,
.teams .title::before{
    background:#fff;
}

.services .title::after,
.teams .title::after{
    content: "What I provide";
    background: #111;
}

.services,.teams{
    background: #111;
    color: #fff;
}

.services .serv-content .card{
    width:calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover{
    background: #ba7162;
}

.services .serv-content .card:hover i{
    background:#fff;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

.services .serv-content .card i{
    font-size: 28px;
    color: #ba7162;
    transition: color 0.3s ease;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section */

.skills .title::after{
    content: "what I know";

}

.skills .skills-content .column{
    width: calc(50% - 30px);
}



.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;

}

.skills .skills-content .left a{

    background-color: #ba7162;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ba7162;
    transition: all 0.3s ease;

}

.skills .skills-content .left a:hover{
    background: none;
    color: #ba7162;

}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 700;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before{
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    background: crimson;

}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 80%;
}

.skills-content .right .java::before{
    width: 60%;
}

.skills-content .right .boot::before{
    width: 50%;
}


/* teams section starts here */


.teams .title::after{
    content: "my sample works";
}

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
   

}



.teams .carousel .card:hover{
    background: #564A4A;
}

.teams .carousel .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: white;
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ba7162;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img{
    border-color: #fff;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    outline: non!important;
    border-radius: 50%;
    border: 2px solid #ba7162!important;

}

img {  
    object-fit: cover;   
    }  


/* contact me section starts here */

.contact{
    background-color:white;
    color: black;
}
div .sara{
    color: black !important;
}
.contact .title::after{
    content: "get in touch";
    

}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;

}
.contact .title::before{
    background:#fff;
}

div .head{
    color: #ba7162!important;
}


.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #ba7162;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;

}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .field,
.contact .right form .fields .field{
height: 45px;
width: 100%;
margin-bottom: 15px;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}


.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #ba7162;
    color: #fff;
    background: #ba7162;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.contact .right form .button button:hover{
    color: #ba7162;
    background: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ba7162;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  input[type=submit]:hover {
      color: white;
    background: black;
    border: 2px solid black;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ba7162;
    padding: 20px;
  }

form{
    color: #fff;
}

/* footer section starts here */

footer{
    background: #fff;
    padding: 20px 23px;
    color: #111;
    text-align: center;
}

footer span a{
    color: red;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}








/* responsive media query starts here */

@media (max-width:1300px){
    .max-width{
        margin-left: 0 40px;
    }

    @media (max-width:1104px){
        .about .about-content .left img{
            height: 200px;
            width: 200px;

        }

@media (max-width:947px){
    .max-width{
        padding: 0 40px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        color: #fff;
    }
    .about .about-content .right{
        flex:100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
.contact .contact-content .column{
   
    width: 100%;
    margin-bottom: 35px;
    }



    @media (max-width:690px){
        .max-width{
            padding: 0 23px;
        }

        /* .home{
            background-size: 500px 500px;
        } */

       
        .home .home-content .text-2{
            font-size: 50px;
        }
        .home .home-content .text-3{
            font-size: 30px;
        }

        .home .home-content a{
            font-size: 18px;
        }

        .services .serv-content .card{
            width: 100%;
        }



    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left:0;
    }

    .menu-btn i.active:before{

        content:"\f00d";

    }

    .navbar .menu li{
        display: block;

    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    } 

    .home .home-content .text-1{
        font-size: 50px;
        font-weight: bolder;
        
    
    }
   
    .home .home-content .text-2{
        font-size: 40px;
        
    
    }
    
    .home .home-content .text-3{
        font-size: 30px;
        
    
    }

    .home .home-content a{
        font-size: 17px;
        padding: 10px 20px;
    }

    .max-width{
max-width: 800px;    }

    .about .about-content .column{
        width: 50%;
    }

    .about .about-content .left{
display: flex;
justify-content: center;
margin: 0 auto 60px;

    }

    .about .about-content .right{
       flex:100%;
        
            }

    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
}
    }
}



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ba7162;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.titr{
    color: #ba7162;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

.client{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
    color: white;
}


